<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>298667319719-u0i8h81uceu3q7t9rajrpftdti7c7v3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298667319719-u0i8h81uceu3q7t9rajrpftdti7c7v3m</string>
	<key>API_KEY</key>
	<string>AIzaSyDywsO88TqFCHCEo9DaoV_5_97t-2UXonQ</string>
	<key>GCM_SENDER_ID</key>
	<string>298667319719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.org.hsin-yi.TestPush</string>
	<key>PROJECT_ID</key>
	<string>testpush-b53f5</string>
	<key>STORAGE_BUCKET</key>
	<string>testpush-b53f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298667319719:ios:520b7247384445e5</string>
	<key>DATABASE_URL</key>
	<string>https://testpush-b53f5.firebaseio.com</string>
</dict>
</plist>